name: Build Signed Release APK

on:
  workflow_dispatch:

jobs:
  build-signed-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - name: Build release APK
        run: ./gradlew assembleRelease
        working-directory: android

      - name: Export APK_NAME
        run: echo "APK_NAME=LibrePods-$(echo ${{ github.sha }} | cut -c1-7).apk" >> $GITHUB_ENV

      - name: Rename APK
        run: mv android/app/build/outputs/apk/release/*.apk "./$APK_NAME"

      - name: Decode keystore file
        run: echo "${{ secrets.DEBUG_KEYSTORE_FILE }}" | base64 --decode > debug.keystore

      - name: Install apksigner
        run: sudo apt-get update && sudo apt-get install -y apksigner

      - name: Sign APK
        run: |
          apksigner sign --ks debug.keystore --ks-key-alias androiddebugkey --ks-pass pass:android --key-pass pass:android "./$APK_NAME"

      - name: Verify APK
        run: apksigner verify "./$APK_NAME"

      - name: Upload signed APK
        uses: actions/upload-artifact@v4
        with:
          name: Signed-APK
          path: ./*.apk
